@model Aplikacja_muzyczna.Models.DetailTracks

@{
    ViewBag.Title = "DetailTracks";
}

<h2>DetailTracks</h2>

    <h4>DetailTracks</h4>
    <div class="form-horizontal">
	<div class ="container-fluid">
		<div clas="row" style="margin-top:15px;">
			<div class="col-xs-4" style ="font-weight:bold;">
				@Html.DisplayNameFor(model => model.Title)
			</div>

			<div class="col-xs-8">
				@Html.DisplayFor(model => model.Title)
			</div>
		</div>
	</div>
	<div class ="container-fluid">
		<div clas="row" style="margin-top:15px;">
			<div class="col-xs-4" style ="font-weight:bold;">
				@Html.DisplayNameFor(model => model.ArtistIdFK)
			</div>

			<div class="col-xs-8">
				@Html.DisplayFor(model => model.ArtistIdFK)
			</div>
		</div>
	</div>
	<div class ="container-fluid">
		<div clas="row" style="margin-top:15px;">
			<div class="col-xs-4" style ="font-weight:bold;">
				@Html.DisplayNameFor(model => model.ReleaseDate)
			</div>

			<div class="col-xs-8">
				@Html.DisplayFor(model => model.ReleaseDate)
			</div>
		</div>
	</div>
	<div class ="container-fluid">
		<div clas="row" style="margin-top:15px;">
			<div class="col-xs-4" style ="font-weight:bold;">
				@Html.DisplayNameFor(model => model.SearchString)
			</div>

			<div class="col-xs-8">
				@Html.DisplayFor(model => model.SearchString)
			</div>
		</div>
	</div>
		<div class="container-fluid" style="padding:15px;">
			<div clas="row" >
                <div class="col-xs-offset-1 col-xs-6">
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrackId }) |
    @Html.ActionLink("Back to List", "Index")
	

                </div>
            </div>
		</div>
</div>	
