@model Aplikacja_muzyczna.Models.DetailArtist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

    <h4>DetailArtist</h4>
    <div class="form-horizontal">
        <div class="container-fluid">
            <div clas="row" style="margin-top:15px;">
                <div class="col-xs-4" style="font-weight:bold;">
                    @Html.DisplayNameFor(model => model.Surname)
                </div>

                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.Surname)
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div clas="row" style="margin-top:15px;">
                <div class="col-xs-4" style="font-weight:bold;">
                    @Html.DisplayNameFor(model => model.Firstname)
                </div>

                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.Firstname)
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div clas="row" style="margin-top:15px;">
                <div class="col-xs-4" style="font-weight:bold;">
                    @Html.DisplayNameFor(model => model.Birthdate)
                </div>

                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.Birthdate)
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div clas="row" style="margin-top:15px;">
                <div class="col-xs-4" style="font-weight:bold;">
                    @Html.DisplayNameFor(model => model.AdditionalInfo)
                </div>

                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.AdditionalInfo)
                </div>
            </div>
        </div>

        <div class="container-fluid">


            @{if (Model.Photo != null)
                {
                    byte[] photo = Model.Photo;
                    string imageSrc = null;
                    MemoryStream ms = new MemoryStream();
                    ms.Write(photo, 0, photo.Length);
                    string imageBase64 = Convert.ToBase64String(ms.ToArray());
                    imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                    <img src="@imageSrc" alt="@Model.Surname @Model.Firstname" style="border:0;width:80%; margin:30px 10% 0 10%;" />
                    }
                }
            </div>

        <div class="container-fluid" style="padding:15px;">
            <div clas="row">
                <div class="col-xs-offset-1 col-xs-6">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtId }) |
                    @Html.ActionLink("Back to List", "List")


                </div>
            </div>
        </div>
    </div>	
