@model Aplikacja_muzyczna.Models.DetailArtist

@{
    ViewBag.Title = "Edit";
}

<!---
        <h2>Edit</h2>
--->
@using (Html.BeginForm("EditArtist", "Artist", FormMethod.Post, new { @class = "", role = "form", enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        <h2 style="text-align:center;padding-top:15px;">DetailArtist</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="row">
                @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="row">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-8">
                    @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="row">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-8">
                    @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="row">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-8">
                    @{var Birth = Request.Cookies["BirthDate"];}
                    @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control" , @max = Birth.Value, @Value = Birth.Value } })
                    @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                @Html.LabelFor(model => model.AdditionalInfo, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="row">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-8">
                    @Html.EditorFor(model => model.AdditionalInfo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AdditionalInfo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row" style="text-align:center; font-weight:bold;">
                Add photo
            </div>
            <div class="row" style="  text-align:center; margin:15px;">

                <input type="file" name="file" id="file" class="inputfile" accept="image/*" oninput="loadFile(event)" />
                <label for="file">Choose photo</label>

                <div class="row">
                    @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                </div>
            </div>


    @Html.DisplayPhoto(Model.Photo)

</div>


        <div class="form-group">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-3" style="margin:20px 0 20px 75px ; ">
                        @Html.ActionLink("Back to List", "ListArtist")
                    </div>
                    <div class="col-xs-offset-5 col-xs-1" style="padding:0px;">
                        <input type="submit" value="Save" class="btn btn-default" style="margin:10px 0px 10px 0px ;padding-left:20px;padding-right:20px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    var loadFile = function (event) {
        var image = document.getElementById('Photo');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>




