@model Aplikacja_muzyczna.Models.DodajArtysta

@{
    ViewBag.Title = "Edit";
}

<!---
		<h2>Edit</h2>
--->

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
	
	
        <h2 style="text-align:center;padding-top:15px;">DodajArtysta</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
		<div class="row">
            @Html.LabelFor(model => model.Nazwa1, htmlAttributes: new { @class = "control-label col-md-2" })
		</div>
		<div class="row">
            <div class="col-xs-2">
		</div>
                <div class="col-xs-8">
                @Html.EditorFor(model => model.Nazwa1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nazwa1, "", new { @class = "text-danger" })
				</div>
            </div>
        </div>

        <div class="form-group">
		<div class="row">
            @Html.LabelFor(model => model.Nazwa2, htmlAttributes: new { @class = "control-label col-md-2" })
		</div>
		<div class="row">
            <div class="col-xs-2">
		</div>
                <div class="col-xs-8">
                @Html.EditorFor(model => model.Nazwa2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nazwa2, "", new { @class = "text-danger" })
				</div>
            </div>
        </div>

        <div class="form-group">
		<div class="row">
            @Html.LabelFor(model => model.DataUr, htmlAttributes: new { @class = "control-label col-md-2" })
		</div>
		<div class="row">
            <div class="col-xs-2">
		</div>
                <div class="col-xs-8">
                @Html.EditorFor(model => model.DataUr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataUr, "", new { @class = "text-danger" })
				</div>
            </div>
        </div>

        <div class="form-group">
		<div class="row">
            @Html.LabelFor(model => model.Uwaga, htmlAttributes: new { @class = "control-label col-md-2" })
		</div>
		<div class="row">
            <div class="col-xs-2">
		</div>
                <div class="col-xs-8">
                @Html.EditorFor(model => model.Uwaga, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Uwaga, "", new { @class = "text-danger" })
				</div>
            </div>
        </div>

        <div class="form-group">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-3" style="margin:20px 0 20px 75px ; ">
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                    <div class="col-xs-offset-5 col-xs-1" style="padding:0px;">
                        <input type="submit" value="Edit" class="btn btn-default" style="margin:10px 0px 10px 0px ;padding-left:20px;padding-right:20px;" />
                    </div>
                </div>
        </div>
    </div>
    </div>
}


